@{
    @model ASPLibrary.ViewModels.IndexVM;
    ViewData["Title"] = "Home Page";
}

<div class="MainContent">
    <aside class="ContentAside">
        <div>
            <p>Категории</p>
            <ul>
                @foreach(var category in Model.Categories)
                {
                    <li>
                        <p>
                        <a>@category.Name </a>
                        @category.Books.Count()
                        </p>

                    </li>
                }
            </ul>
        </div>
    </aside>
    <section>
        @foreach(var book in Model.Books)
        {
            <div class="Page">
                <h2>@book.Title</h2>
                <div class="Page_Content">
                    <img src="/images/books/@book.Image">
                    <div>
                        <p>@book.Description</p>
                        @if (@book.Pages > 0)
                        {
                            <p>Страниц: @book.Pages</p>
                        }
                        <a>Скачать</a>
                    </div>
                </div>
            </div>
        }
    </section>
</div>
